{
    email {$ACME_EMAIL}
}

{$POLICYTIME_DOMAIN} {
    encode zstd gzip
    request_body {
        max_size 8KB
    }
    header Strict-Transport-Security "max-age=31536000"
    reverse_proxy app:8000
}
